.wa-banner {
    background-size: cover;
    background-position: center;
    background-color: #0f3e3e;
    position: relative;
    overflow: hidden;
    height: 400px;
}

.btn-wa {
    background-color: #4cb8b8;
    color: white;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 10px;
    text-decoration: none;
}

.btn-wa:hover {
    background-color: #3ca0a0;
    color: white;
}

.fw-bold {
    font-size: 2.5rem;
}